name: Checkton
on:
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: Modify action.yaml to build latest image on the fly
        run: |
          sed -E "s;(\s*)image: .*;\1image: Dockerfile;" -i action.yaml

      - name: Run self on self
        id: checkton
        uses: ./
        with:
          # funnily enough, checkton happens to work on regular shell scripts as well
          include-regex: \.(sh|bash|yml|yaml)$
          # exclude test data and submodules
          exclude-regex: ^test/resources/files-to-check/|^test/.*bats(-support|-assert)/
          differential: false
          fail-on-findings: false

      - name: Inject rules into the SARIF file
        run: |
          jq < .checkton.sarif '.runs[].tool.driver.rules = [
                        {
                            "id": "SHELLCHECK_WARNING: warning[SC2053]",
                            "properties": {
                                "tags": [
                                    "ShellCheck"
                                ]
                            },
                            "name": "SC2053",
                            "shortDescription": {
                                "text": "SC2053"
                            },
                            "help": {
                                "text": "Defect reference: https://github.com/koalaman/shellcheck/wiki/SC2053",
                                "markdown": "Defect reference: [SC2053](https://github.com/koalaman/shellcheck/wiki/SC2053)"
                            },
                            "fullDescription": {
                                "text": "Defect reference: https://github.com/koalaman/shellcheck/wiki/SC2053"
                            }
                        }
                    ]' > .checkton.sarif.2
          mv .checkton.sarif.2 .checkton.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@45c373516f557556c15d420e3f5e0aa3d64366bc # v3
        with:
          sarif_file: ${{ steps.checkton.outputs.sarif }}
          # Avoid clashing with ShellCheck
          category: checkton
