name: Release
on:
  push:
    tags:
      - v*.*.*

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Verify that tag matches image version in action.yaml
        run: |
          #!/bin/bash
          set -e

          tag=${GITHUB_REF#refs/tags/}

          image=$(yq '.runs.image' action.yaml)
          image_without_digest=${image%@*}
          version=${image_without_digest##*:}

          if [[ "$tag" != "$version" ]]; then
              echo "Tag does not match action.yaml image version: $tag X $image" >&2
              exit 1
          fi

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
