name: Release
on:
  push:
    tags:
      - v*.*.*

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Verify that tag matches image version in action.yaml
        run: |
          #!/bin/bash
          set -e

          tag=${GITHUB_REF#refs/tags/}

          image=$(yq '.runs.image' action.yaml)
          image_without_digest=${image%@*}
          version=${image_without_digest##*:}

          if [[ "$tag" != "$version" ]]; then
              echo "Tag does not match action.yaml image version: $tag X $image" >&2
              exit 1
          fi

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
