name: Tests
on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsshell
        shell: bash --noprofile --norc -o errexit -o nounset -o pipefail {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          # differential-checkton tests require full commit history
          fetch-depth: 0
          submodules: true

      - name: Build image
        run: |
          make build-image INSTALL_NCURSES=true

      - name: Run tests
        run: |
          make test-with-prebuilt-image
